.engine-content {
  margin: 15px;
}

.margin-button {
  margin: 10px;
}

.engine-image {
  height: 50vh;
  background-size: cover !important;
  background-position: 50% 50%;
  border-color: black;
  border-width: 2px;
}
