.engine-content {
  margin: 15px;
}

.margin-button {
  margin-bottom: 10px;
}

.engine-image {
  height: 50vh;
  background-size: cover !important;
  background-position: 50% 50%;
  border-color: black;
  border-width: 2px;
}

#engine-title-category {
  margin: 20px;
}

#engine-description {
  margin: 20px;
}


#engine-quantity {
  margin-bottom: 20px;
}

#input-engine-show {
  margin: 10px;
}

#form-show {
  margin: 10px;
}


// #map {
//   position: absolute;
//   width: 100%;
//   left: 0;
// }
