.engine-content {
  margin: 15%;
}

.margin-button {
  margin-bottom: 10px;
}

.engine-image {
  height: 50vh;
  background-size: cover !important;
  background-position: 50% 50%;
  border-color: black;
  border-width: 2px;
}

.reviews {
  height: 175px;
  // background-size: cover !important;
  // background-color: rgba(17, 191, 174, 0.2);
  // color: white;
  // margin: 0;
  position: relative;
}

.user-review {
  position: absolute;
  left: 100px;
  bottom: 45px;
}

.user-avatar {
  margin-left: 30px;
}

.reviews-title {
  margin-left: 30px;
  margin-bottom: 30px;
}

.form-number {
  width: auto;
}

.form-quantity {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#engine-title-category {
  margin-bottom: 50px;
}

#engine-description {
  margin: 50px;
}


#engine-quantity {
  margin-bottom: 50px;
}

#input-engine-show {
  margin: 10px;
}

#form-show {
  margin: 10px;
}

.image-map {
  width: 100%;
  height: 100%;
  margin-top: 15px;
  margin-right: 0px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 15px;
}
