/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.style_popular p {
  color: white;
}

.picto {
  width: 40px;
  padding-top: 80px;
}

.container h3 {
  color: #11BFAE;
}

.wrapper-grey h2, p {
  color: #11BFAE;
}

.contact h2 {
  color: #11BFAE;
}

.pictos_banner {
  padding-bottom: 0px;
}

.banner_form {
  padding-top: 20px;
}

.radius_input {
  border-radius: 10px;
  font-size: 17px;
}

.radius_button {
  border-radius: 10px;
  font-size: 16px;
}

.text-popular {
  color: white;
}
