
<div class="banner">
  <div class="banner-content">
   <h1> Roulez Jeunesse! </h1>
    <p> An easy and sustainable way to explore cities </p>
    <a class="btn btn-success btn-lg">GET IT</a>
  </div>
</div>

