
<div class="banner">
  <div class="banner-content">
   <h1> Roulez Jeunesse! </h1>
    <p> An easy and sustainable way to explore cities </p>
      <div id="form-homepage">
        <form action="">
          <input type="text" class="" placeholder="Chose a city">
          <input type="text" class="" placeholder="chose a date">
        </form>
      </div>
    <%= link_to "GET IT", engines_path, class: "btn btn-success btn-lg" %>
  </div>
</div>


