.booking-card{
  width: 400px;
  color: black;
  background-color: white;
  position: relative;
  margin: 30px;
  text-decoration: none;
  border: #11BFAE 1px solid;
}

#booking-description{
    margin: 5px;
}

.booking-container{
  margin-left: 15px;

}
