<div class="footer-container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 ">
      <div class="text-center">
        <div id="footer">
          <ul>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
          </ul>
          <div class="team-partner">
            <p>Made with 💛 by Manon, Louise, Greg et Flo</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
