<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" >
      <a class="navbar-brand" href="#">Taste Buds</a>
      <%= image_tag "cocktail.png", {id: "logo"}%>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Event</a></li>
      <li><a href="">Collection</a></li>
    </ul>

    <% if user_signed_in? %>
      <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30"%>
      <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>
    <% else %>
      <%= link_to 'sign up', new_user_registration_path %>
    <% end %>
  </div>
</nav>

